<!DOCTYPE html>
<html lang="en" th:replace="~{Admin/admin-base::layout(~{::section})}">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
 
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

 
       


       <section>

            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4" style="margin-top: 100px;">
                <div class="row g-4">
                    <div class="col-md-8 offset-md-2">
                        <div class="bg-light rounded h-100 p-4">
                    <button class="btn btn-primary mb-3"><a style="color: white;" href="#" th:href="@{/admin/category}">Show Caregory</a></button>
                    
                                 <form action="/admin/insertCategory" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="cname" class="form-label">Category Name</label>
                                    <input name="cname" type="text" class="form-control" id="cname">
                                </div>
                          
                            
                             <div class="mb-3">
                                <label for="cimage" class="form-label">category image</label>
                                <input name="cat_image" class="form-control" type="file" id="cimage">
                            </div>
                            
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">You really want to add this to Cateory</label>
                                </div>
                                <div class="text-center">
                                <button type="submit" class="btn btn-primary" >Add Category</button>
                                </div>
                            </form>
                        </div>
                    </div>
                   
                </div>
            </div>
            <!-- Form End -->
</section>

          
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

  
</body>

</html>