<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})} ">
<head>
<!-- Basic -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Site Metas -->
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" href="images/favicon.png" type="">
<title>Famms-login.html</title>

</head>
<body class="sub_page">


	<div class="hero_area">
		
	</div>
	<!-- inner page section -->
	<section class="inner_page_head">
		<div class="container_fuild">
			<div class="row">
				<div class="col-md-12">
					<div class="full">
						<h3>Login</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end inner page section -->
	<!-- why section -->
	<section class="why_section layout_padding">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="full">
						<form action="#" method="post">
							
							<fieldset>
							
                                  <label for="username">Email:-</label> 
								<input type="email" placeholder="Enter your email address"
									name="username" id="username" required />
									
									  <label for="name">Password:-</label> 
									 <input type="text" placeholder="Enter Password" name="password" id="password" required /> 
									 
									 <div>
									 <a href="forgotPassword.html">forgotPassword?</a>
									 </div>
									
									<input type="submit" value="login" />
									
								<div class="text-center mt-3">
									<p>
										don't have an account? <a href="#" th:href="register">register</a>
									</p>


								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end why section -->

	<!-- arrival section -->
	<section class="arrival_section">
		<div class="container">
			<div class="box">
				<div class="arrival_bg_box">
					<img src="images/arrival-bg.png" alt="">
				</div>
				<div class="row">
					<div class="col-md-6 ml-auto">
						<div class="heading_container remove_line_bt">
							<h2>#NewArrivals</h2>
						</div>
						<p style="margin-top: 20px; margin-bottom: 30px;">Vitae fugiat
							laboriosam officia perferendis provident aliquid voluptatibus
							dolorem, fugit ullam sit earum id eaque nisi hic? Tenetur
							commodi, nisi rem vel, ea eaque ab ipsa, autem similique ex unde!
						</p> 
						<a href=""> Shop Now </a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end arrival section -->
	
	
</body>
</html>